--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><getRecord>12</getRecord></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"getRecord\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 500
        message: Internal Server Error
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server.userException</faultcode><faultstring>java.lang.NullPointerException</faultstring><detail><ns1:hostname xmlns:ns1="http://xml.apache.org/axis/">primodev1</ns1:hostname></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>
    recorded_at: Wed, 28 Nov 2012 19:22:12 GMT
recorded_with: VCR 2.3.0
