--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><getAllMyReviews><request><![CDATA[<getAllMyReviewsRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><userId>N12162279</userId></getAllMyReviewsRequest>]]></request></getAllMyReviews></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"getAllMyReviews\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><getAllMyReviewsResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><getAllMyReviewsReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;TagsAndReviews xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;
            &lt;Reviews&gt;
              &lt;Review&gt;
                &lt;value&gt;Test review&lt;/value&gt;
                &lt;docId&gt;nyu_aleph000062856&lt;/docId&gt;
                &lt;userId/&gt;
                &lt;status&gt;2&lt;/status&gt;
                &lt;rating&gt;1&lt;/rating&gt;
                &lt;userDisplayName/&gt;
                &lt;allowUserName&gt;false&lt;/allowUserName&gt;
              &lt;/Review&gt;
              &lt;Review&gt;
                &lt;value/&gt;
                &lt;docId&gt;nyu_aleph000980206&lt;/docId&gt;
                &lt;userId/&gt;
                &lt;status&gt;2&lt;/status&gt;
                &lt;rating&gt;1&lt;/rating&gt;
                &lt;userDisplayName/&gt;
                &lt;allowUserName&gt;false&lt;/allowUserName&gt;
              &lt;/Review&gt;
            &lt;/Reviews&gt;
          &lt;/TagsAndReviews&gt;</getAllMyReviewsReturn></getAllMyReviewsResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Wed, 28 Nov 2012 19:22:11 GMT
recorded_with: VCR 2.3.0
