---
http_interactions:
- request:
    method: post
    uri: http://bobcat.library.nyu.edu/PrimoWebServices/services/primo/eshelf
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \   xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n    xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
        \ <env:Body>\n    <n1:addToEshelf env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"\n
        \       xmlns:n1=\"http://www.exlibris.com/primo/xsd/wsRequest\">\n      <addToEshelfRequest
        xsi:type=\"xsd:string\">&lt;addToEshelfRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/wsRequest&apos;&gt;&lt;userId&gt;N18158418&lt;/userId&gt;&lt;institution&gt;NYU&lt;/institution&gt;&lt;docId&gt;nyu_aleph000062856&lt;/docId&gt;&lt;/addToEshelfRequest&gt;</addToEshelfRequest>\n
        \   </n1:addToEshelf>\n  </env:Body>\n</env:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - ! '""'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:addToEshelfResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://www.exlibris.com/primo/xsd/wsRequest\"><addToEshelfReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;ERROR MESSAGE=&quot;Add to eshelf action completed
        successfully&quot; CODE=&quot;0&quot;/&gt;\n    &lt;/RESULT&gt;\n  &lt;/JAGROOT&gt;\n&lt;/SEGMENTS&gt;\n</addToEshelfReturn></ns1:addToEshelfResponse></soapenv:Body></soapenv:Envelope>"
  recorded_at: Tue, 09 Oct 2012 17:25:53 GMT
- request:
    method: post
    uri: http://bobcat.library.nyu.edu/PrimoWebServices/services/primo/eshelf
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \   xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n    xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
        \ <env:Body>\n    <n1:removeFromEshelf env:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"\n
        \       xmlns:n1=\"http://www.exlibris.com/primo/xsd/wsRequest\">\n      <removeFromEshelfRequest
        xsi:type=\"xsd:string\">&lt;removeFromEshelfRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/wsRequest&apos;&gt;&lt;userId&gt;N18158418&lt;/userId&gt;&lt;institution&gt;NYU&lt;/institution&gt;&lt;docId&gt;nyu_aleph000062856&lt;/docId&gt;&lt;folderId&gt;298560007&lt;/folderId&gt;&lt;/removeFromEshelfRequest&gt;</re[...]
