--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcat.library.nyu.edu/PrimoWebServices/services/primo/eshelf
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8" ?>
          <env:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
            <env:Body>
              <n1:getEshelf env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:n1="http://www.exlibris.com/primo/xsd/wsRequest">
                <getEshelfRequest xsi:type="xsd:string">&lt;getEshelfRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/wsRequest&apos;&gt;&lt;userId&gt;INVALID_USER&lt;/userId&gt;&lt;institution&gt;NYU&lt;/institution&gt;&lt;/getEshelfRequest&gt;</getEshelfRequest>
              </n1:getEshelf>
            </env:Body>
          </env:Envelope>
      headers: 
        Content-Type: 
          - text/xml; charset=utf-8
        Soapaction: 
          - "\"\""
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getEshelfResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://www.exlibris.com/primo/xsd/wsRequest"><getEshelfReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
            &lt;JAGROOT&gt;
              &lt;RESULT&gt;
                &lt;DOCSET TOTALHITS=&quot;0&quot;/&gt;
              &lt;/RESULT&gt;
            &lt;/JAGROOT&gt;
          &lt;/SEGMENTS&gt;
          </getEshelfReturn></ns1:getEshelfResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Fri, 12 Oct 2012 17:59:07 GMT
recorded_with: VCR 2.2.5
