--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcat.library.nyu.edu/PrimoWebServices/services/primo/eshelf
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8" ?>
          <env:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
            <env:Body>
              <n1:addToEshelf env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:n1="http://www.exlibris.com/primo/xsd/wsRequest">
                <addToEshelfRequest xsi:type="xsd:string">&lt;addToEshelfRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/wsRequest&apos;&gt;&lt;userId&gt;N18158418&lt;/userId&gt;&lt;institution&gt;NYU&lt;/institution&gt;&lt;docId&gt;INVALID_DOC_ID&lt;/docId&gt;&lt;folderId&gt;298560007&lt;/folderId&gt;&lt;/addToEshelfRequest&gt;</addToEshelfRequest>
              </n1:addToEshelf>
            </env:Body>
          </env:Envelope>
      headers: 
        Content-Type: 
          - text/xml; charset=utf-8
        Soapaction: 
          - "\"\""
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:addToEshelfResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://www.exlibris.com/primo/xsd/wsRequest"><addToEshelfReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
            &lt;JAGROOT&gt;
              &lt;RESULT&gt;
                &lt;ERROR MESSAGE=&quot;DocId parameter is missing or incorrect&quot; CODE=&quot;-2&quot;/&gt;
              &lt;/RESULT&gt;
            &lt;/JAGROOT&gt;
          &lt;/SEGMENTS&gt;
          </addToEshelfReturn></ns1:addToEshelfResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Fri, 12 Oct 2012 17:59:06 GMT
  - request: 
      method: post
      uri: http://bobcat.library.nyu.edu/PrimoWebServices/services/primo/eshelf
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8" ?>
          <env:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
            <env:Body>
              <n1:removeFromEshelf env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:n1="http://www.exlibris.com/primo/xsd/wsRequest">
                <removeFromEshelfRequest xsi:type="xsd:string">&lt;removeFromEshelfRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/wsRequest&apos;&gt;&lt;userId&gt;N18158418&lt;/userId&gt;&lt;institution&gt;NYU&lt;/institution&gt;&lt;docId&gt;INVALID_DOC_ID&lt;/docId&gt;&lt;folderId&gt;298560007&lt;/folderId&gt;&lt;/removeFromEshelfRequest&gt;</removeFromEshelfRequest>
              </n1:removeFromEshelf>
            </env:Body>
          </env:Envelope>
      headers: 
        Content-Type: 
          - text/xml; charset=utf-8
        Soapaction: 
          - "\"\""
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:removeFromEshelfResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://www.exlibris.com/primo/xsd/wsRequest"><removeFromEshelfReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
            &lt;JAGROOT&gt;
              &lt;RESULT&gt;
                &lt;ERROR MESSAGE=&quot;DocId parameter is missing or incorrect&quot; CODE=&quot;-2&quot;/&gt;
              &lt;/RESULT&gt;
            &lt;/JAGROOT&gt;
          &lt;/SEGMENTS&gt;
          </removeFromEshelfReturn></ns1:removeFromEshelfResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Fri, 12 Oct 2012 17:59:06 GMT
recorded_with: VCR 2.2.5
