--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcat.library.nyu.edu/PrimoWebServices/services/primo/eshelfstructure
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8" ?>
          <env:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
            <env:Body>
              <n1:getEshelfStructure env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:n1="http://www.exlibris.com/primo/xsd/wsRequest">
                <getEshelfStructureRequest xsi:type="xsd:string">&lt;getEshelfStructureRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/wsRequest&apos;&gt;&lt;userId&gt;N18158418&lt;/userId&gt;&lt;institution&gt;NYU&lt;/institution&gt;&lt;includeBasketItems&gt;false&lt;/includeBasketItems&gt;&lt;/getEshelfStructureRequest&gt;</getEshelfStructureRequest>
              </n1:getEshelfStructure>
            </env:Body>
          </env:Envelope>
      headers: 
        Content-Type: 
          - text/xml; charset=utf-8
        Soapaction: 
          - "\"\""
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getEshelfStructureResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://www.exlibris.com/primo/xsd/wsRequest"><getEshelfStructureReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;prim:eshelf_folders xmlns:prim=&quot;http://www.exlibris.com/primo/xsd/primoeshelffolder&quot;&gt;&lt;prim:eshelf_folder parent_id=&quot;298560007&quot; folder_id=&quot;298560007&quot;&gt;&lt;prim:folder_name&gt;Basket&lt;/prim:folder_name&gt;&lt;prim:eshelf_folder_set&gt;&lt;prim:eshelf_folder parent_id=&quot;298560007&quot; folder_id=&quot;344619707&quot;&gt;&lt;prim:folder_name&gt;Test&lt;/prim:folder_name&gt;&lt;/prim:eshelf_folder&gt;&lt;/prim:eshelf_folder_set&gt;&lt;/prim:eshelf_folder&gt;&lt;/prim:eshelf_folders&gt;</getEshelfStructureReturn></ns1:getEshelfStructureResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Fri, 12 Oct 2012 17:59:05 GMT
recorded_with: VCR 2.2.5
