--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><getRecord><request><![CDATA[<fullViewRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>dedupmrg17343091</docId></fullViewRequest>]]></request></getRecord></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"getRecord\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><getRecordResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><getRecordReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
            &lt;JAGROOT&gt;
              &lt;RESULT&gt;
                &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;
                  &lt;DOC LOCAL=&quot;true&quot;&gt;
                    &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;
                      &lt;record&gt;
                       [...]
