--- 
http_interactions: 
  - request: 
      method: get
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher?wsdl
      body: 
        string: ""
      headers: 
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |
          <?xml version="1.0" encoding="UTF-8"?>
          <wsdl:definitions targetNamespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:intf="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <!--WSDL created by Apache Axis version: 1.2.1
          Built on Jun 14, 2005 (09:15:57 EDT)-->
           <wsdl:types>
            <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
             <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
             <complexType name="mapItem">
              <sequence>
               <element name="key" nillable="true" type="xsd:anyType"/>
               <element name="value" nillable="true" type="xsd:anyType"/>
              </sequence>
             </complexType>
             <complexType name="Map">
              <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
              </sequence>
             </complexType>
            </schema>
           </wsdl:types>
          
             <wsdl:message name="getRecordResponse">
          
                <wsdl:part name="getRecordReturn" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="getRecordResponse1">
          
                <wsdl:part name="getRecordReturn" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="countFacetsRequest">
          
                <wsdl:part name="searchRequestStr" type="soapenc:string"/>
          
                <wsdl:part name="facets" type="apachesoap:Map[...]
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://xml.apache.org/xml-soap"><env:Body><impl:searchBrief><request><![CDATA[<searchRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>any</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>Book</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution></searchRequest>]]></request></impl:searchBrief></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"searchBrief\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:searchBriefResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher"><searchBriefReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
            &lt;JAGROOT&gt;
              &lt;RESULT&gt;
                &lt;QUERYTRANSFORMS/&gt;
                &lt;FACETLIST ACCURATE_COUNTERS=&quot;false&quot;&gt;
                  &lt;FACET NAME=&quot;creator&quot; COUNT=&quot;95&quot;&gt;
                    &lt;FACET_VALUES KEY=&quot;Hopkins, J&quot; VALUE=&quot;179&quot;/&g[...]
