--- 
http_interactions: 
  - request: 
      method: get
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher?wsdl
      body: 
        string: ""
      headers: 
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |
          <?xml version="1.0" encoding="UTF-8"?>
          <wsdl:definitions targetNamespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:intf="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <!--WSDL created by Apache Axis version: 1.2.1
          Built on Jun 14, 2005 (09:15:57 EDT)-->
           <wsdl:types>
            <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
             <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
             <complexType name="mapItem">
              <sequence>
               <element name="key" nillable="true" type="xsd:anyType"/>
               <element name="value" nillable="true" type="xsd:anyType"/>
              </sequence>
             </complexType>
             <complexType name="Map">
              <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
              </sequence>
             </complexType>
            </schema>
           </wsdl:types>
          
             <wsdl:message name="getRecordResponse">
          
                <wsdl:part name="getRecordReturn" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="getRecordResponse1">
          
                <wsdl:part name="getRecordReturn" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="countFacetsRequest">
          
                <wsdl:part name="searchRequestStr" type="soapenc:string"/>
          
                <wsdl:part name="facets" type="apachesoap:Map[...]
