--- 
http_interactions: 
  - request: 
      method: get
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf?wsdl
      body: 
        string: ""
      headers: 
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |
          <?xml version="1.0" encoding="UTF-8"?>
          <wsdl:definitions targetNamespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf" xmlns:intf="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <!--WSDL created by Apache Axis version: 1.2.1
          Built on Jun 14, 2005 (09:15:57 EDT)-->
          
             <wsdl:message name="addFolderToEshelfRequest">
          
                <wsdl:part name="addFolderToEshelfRequest" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="removeFolderFromEshelfRequest">
          
                <wsdl:part name="removeFolderEshelfRequest" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="invokeActionToFolderEshelfRequest">
          
                <wsdl:part name="actionToEshelfRequest" type="soapenc:string"/>
          
           [...]
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:removeFromEshelf><request><![CDATA[<removeFromEshelfRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>YAML_INSTITUTION</institution></removeFromEshelfRequest>]]></request></impl:removeFromEshelf></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"removeFromEshelf\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:removeFromEshelfResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf"><removeFromEshelfReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
            &lt;JAGROOT&gt;
              &lt;RESULT&gt;
                &lt;ERROR CODE=&quot;-2&quot; MESSAGE=&quot;Folder Id does not exist&quot;/&gt;
              &lt;/RESULT&gt;
            &lt;/JAGROOT&gt;
          &lt;/SEGMENTS&gt;</removeFromEshelfReturn></ns1:removeFromEshelfResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Tue, 27 Nov 2012 20:39:13 GMT
recorded_with: VCR 2.3.0
