--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><removeTag><request><![CDATA[<removeTagRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><userId>N12162279</userId></removeTagRequest>]]></request></removeTag></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"removeTag\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><removeTagResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><removeTagReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;TagsAndReviews xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;
            &lt;ERROR CODE=&quot;-2&quot; MESSAGE=&quot;One of the parameters is missing&quot;/&gt;
          &lt;/TagsAndReviews&gt;</removeTagReturn></removeTagResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Wed, 28 Nov 2012 19:26:20 GMT
recorded_with: VCR 2.3.0
