--- 
http_interactions: 
  - request: 
      method: get
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags?wsdl
      body: 
        string: ""
      headers: 
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |
          <?xml version="1.0" encoding="UTF-8"?>
          <wsdl:definitions targetNamespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags" xmlns:intf="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <!--WSDL created by Apache Axis version: 1.2.1
          Built on Jun 14, 2005 (09:15:57 EDT)-->
          
             <wsdl:message name="getAllMyTagsRequest">
          
                <wsdl:part name="getAllMyTagsRequest" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="getTagsRequest1">
          
                <wsdl:part name="getTagsRequest" type="soapenc:string"/>
          
                <wsdl:part name="isXservice" type="xsd:boolean"/>
          
             </wsdl:message>
          
             <wsdl:message name="getAllMyTagsResponse">
          
                <wsdl:part name="getAllMyTagsReturn" type="soapenc:s[...]
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:getTagsForRecord><request><![CDATA[<getTagsForRecordRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>YAML_INSTITUTION</institution></getTagsForRecordRequest>]]></request></impl:getTagsForRecord></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"getTagsForRecord\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getTagsForRecordResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags"><getTagsForRecordReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;TagsAndReviews xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;
            &lt;ERROR CODE=&quot;-2&quot; MESSAGE=&quot;One of the parameters is missing&quot;/&gt;
          &lt;/TagsAndReviews&gt;</getTagsForRecordReturn></ns1:getTagsForRecordResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Wed, 28 Nov 2012 02:03:59 GMT
recorded_with: VCR 2.3.0
