--- 
http_interactions: 
  - request: 
      method: get
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure?wsdl
      body: 
        string: ""
      headers: 
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |
          <?xml version="1.0" encoding="UTF-8"?>
          <wsdl:definitions targetNamespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure" xmlns:intf="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://ueshelf.domain.primo.exlibris.com" xmlns:tns2="http://entities.domain.primo.exlibris.com" xmlns:tns3="http://primoeshelffolder.xsd.primo.exlibris.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <!--WSDL created by Apache Axis version: 1.2.1
          Built on Jun 14, 2005 (09:15:57 EDT)-->
           <wsdl:types>
            <schema targetNamespace="http://entities.domain.primo.exlibris.com" xmlns="http://www.w3.org/2001/XMLSchema">
             <import namespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure"/>
             <import namespace="http://primoeshelffolder.xsd.primo.exlibris.com"/>
             <import namespace="http://xml.apache.org/xml-soap"/>
             <import namespace="http://ueshelf.domain.primo.exlibris.com"/>
             <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
             <complexType abstract="true" name="HPersistentEntity">
              <sequence>
               <element name="id" nillable="true" type="soapenc:long"/>
              </sequence>
             </complexType>
             <complexType abstract="true" name="HTimeStampedPersistentEntity">
              <complexContent>
               <extension base="tns2:HPersistentEntity">
                <sequence>
                 <element name="creationDate" nillable="true" type="xsd:dateTime"/>
                 <element name="lastModifiedTimeStamp" nillable="true" type="xsd:dateTime"/>
                 <element name="updatedBy" nillable="true" type="soapenc:string"/>
                </sequence>
               </extension>
              </complexContent>
             </complexType>
            </schema>
            <schema targetNamespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure" xmlns="http://www.w3.org/2001/XMLSchema">
             <import namespace="http://primoeshelffolder.xsd.primo.exlibris.com"/>
             <import namespace="http://entities.domain.primo.exlibris.com"/>
             <import namespace="http://xml.apache.org/xml-soap"/>
             <import namespace="http://ueshelf.domain.primo.exlibris.com"/>
             <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
             <complexType name="ArrayOf_xsd_anyType">
              <complexContent>
               <restriction base="soapenc:Array">
                <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
               </restriction>
              </complexContent>
             </complexType>
            </schema>
            <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
             <import namespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure"/>
             <import namespace="http://primoeshelffolder.xsd.primo.exlibris.com"/>
             <import namesp[...]
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://entities.domain.primo.exlibris.com" xmlns:ins1="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure" xmlns:ins2="http://xml.apache.org/xml-soap"><env:Body><impl:getEshelfStructure><request><![CDATA[<getEshelfStructureRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><userId>N12162279</userId></getEshelfStructureRequest>]]></request></impl:getEshelfStructure></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"getEshelfStructure\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:getEshelfStructureResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelfstructure"><getEshelfStructureReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;prim:eshelf_folders xmlns:prim=&quot;http://www.exlibris.com/primo/xsd/primoeshelffolder&quot;&gt;&lt;prim:eshelf_folder folder_id=&quot;210075761&quot; parent_id=&quot;210075761&quot;&gt;&lt;prim:folder_name&gt;Basket&lt;/prim:folder_name&gt;&lt;/prim:eshelf_folder&gt;&lt;/prim:eshelf_folders&gt;</getEshelfStructureReturn></ns1:getEshelfStructureResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Wed, 28 Nov 2012 14:37:26 GMT
recorded_with: VCR 2.3.0
