--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><addFolderToEshelf><request><![CDATA[<addFolderToEshelfRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><userId>N12162279</userId><folderName>new folder</folderName><parentFolder>210075761</parentFolder></addFolderToEshelfRequest>]]></request></addFolderToEshelf></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"addFolderToEshelf\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><addFolderToEshelfResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><addFolderToEshelfReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
            &lt;JAGROOT&gt;
              &lt;RESULT&gt;
                &lt;ERROR CODE=&quot;-5&quot; MESSAGE=&quot;Folder already exist&quot;/&gt;
              &lt;/RESULT&gt;
            &lt;/JAGROOT&gt;
          &lt;/SEGMENTS&gt;</addFolderToEshelfReturn></addFolderToEshelfResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Wed, 28 Nov 2012 19:26:19 GMT
recorded_with: VCR 2.3.0
