---
http_interactions:
- request:
    method: get
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher\"
        xmlns:intf=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL
        created by Apache Axis version: 1.2.1\nBuilt on Jun 14, 2005 (09:15:57 EDT)-->\n
        <wsdl:types>\n  <schema targetNamespace=\"http://xml.apache.org/xml-soap\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\"/>\n
        \  <complexType name=\"mapItem\">\n    <sequence>\n     <element name=\"key\"
        nillable=\"true\" type=\"xsd:anyType\"/>\n     <element name=\"value\" nillable=\"true\"
        type=\"xsd:anyType\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"Map\">\n    <sequence>\n     <element maxOccurs=\"unbounded\" minOccurs=\"0\"
        name=\"item\" type=\"apachesoap:mapItem\"/>\n    </sequence>\n   </complexType>\n
        \ </schema>\n </wsdl:types>\n\n   <wsdl:message name=\"getRecordResponse\">\n\n
        \     <wsdl:part name=\"getRecordReturn\" type=\"soapenc:string\"/>\n\n   </wsdl:message>\n\n
        \  <wsdl:message name=\"getRecordResponse1\">\n\n      <wsdl:part name=\"getRecordReturn\"
        type=\"soapenc:string\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"countFacetsRequest\">\n\n
        \     <wsdl:part name=\"searchRequestStr\" type=\"soapenc:string\"/>\n\n      <wsdl:part
        name=\"facets\" type=\"apachesoap:Map\"/>\n\n      <wsdl:part name=\"searchToken\"
        type=\"soapenc:stri[...]
- request:
    method: post
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://xml.apache.org/xml-soap"><env:Body><impl:searchBrief><request><![CDATA[<searchRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>isbn</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>0090-5720</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution></searchRequest>]]></request></impl:searchBrief></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"searchBrief"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:searchBriefResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher\"><searchBriefReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;QUERYTRANSFORMS/&gt;\n      &lt;FACETLIST ACCURATE_COUNTERS=&quot;true&quot;&gt;\n
        \       &lt;FACET NAME=&quot;lcc&quot; COUNT=&quot;1&quot;&gt;\n          &lt;FACET_VALUES
        KEY=&quot;H - Social sciences.&quot; VALUE=&quot;1&quot;/&gt;\n        &lt;/F[...]
