--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcat.library.nyu.edu/PrimoWebServices/services/primo/searcher
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8" ?>
          <env:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
            <env:Body>
              <n1:searchBrief env:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:n1="http://www.exlibris.com/primo/xsd/wsRequest">
                <searchBriefRequest xsi:type="xsd:string">&lt;searchRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/wsRequest&apos;&gt;&lt;PrimoSearchRequest xmlns=&apos;http://www.exlibris.com/primo/xsd/search/request&apos;&gt;&lt;QueryTerms&gt;&lt;BoolOpeator&gt;AND&lt;/BoolOpeator&gt;&lt;QueryTerm&gt;&lt;IndexField&gt;isbn&lt;/IndexField&gt;&lt;PrecisionOperator&gt;exact&lt;/PrecisionOperator&gt;&lt;Value&gt;0002-8614&lt;/Value&gt;&lt;/QueryTerm&gt;&lt;/QueryTerms&gt;&lt;StartIndex&gt;1&lt;/StartIndex&gt;&lt;BulkSize&gt;5&lt;/BulkSize&gt;&lt;DidUMeanEnabled&gt;false&lt;/DidUMeanEnabled&gt;&lt;HighlightingEnabled&gt;false&lt;/HighlightingEnabled&gt;&lt;/PrimoSearchRequest&gt;&lt;institution&gt;NYU&lt;/institution&gt;&lt;/searchRequest&gt;</searchBriefRequest>
              </n1:searchBrief>
            </env:Body>
          </env:Envelope>
      headers: 
        Content-Type: 
          - text/xml; charset=utf-8
        Soapaction: 
          - "\"\""
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:searchBriefResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://www.exlibris.com/primo/xsd/wsRequest"><searchBriefReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;sear:SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot; xmlns:sear=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
            &lt;sear:JAGROOT&gt;
              &lt;sear:RESULT&gt;
                &lt;sear:QUERYTRANSFORMS/&gt;
                &lt;sear:FACETLIST ACCURATE_COUNTERS=&quot;true&quot;&gt;
                  &lt;sear:FACET COUNT=&quot;3&quot; NAME=&quot;cre[...]
