--- 
http_interactions: 
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><getAllMyTags><request><![CDATA[<getAllMyTagsRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><userId>N12162279</userId></getAllMyTagsRequest>]]></request></getAllMyTags></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"getAllMyTags\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><getAllMyTagsResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><getAllMyTagsReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;TagsAndReviews xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;
            &lt;Tags&gt;
              &lt;MyTags&gt;
                &lt;Tag&gt;
                  &lt;value&gt;spies&lt;/value&gt;
                  &lt;docId&gt;nyu_aleph003443700&lt;/docId&gt;
                  &lt;userId/&gt;
                  &lt;status/&gt;
                &lt;/Tag&gt;
              &lt;/MyTags&gt;
              &lt;EverybodyTags/&gt;
            &lt;/Tags&gt;
          &lt;/TagsAndReviews&gt;</getAllMyTagsReturn></getAllMyTagsResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Thu, 06 Dec 2012 19:29:30 GMT
recorded_with: VCR 2.3.0
