--- 
http_interactions: 
- request: 
    method: post
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><getTags><request><![CDATA[<getTagsRequest xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents" xmlns="http://www.exlibris.com/primo/xsd/wsRequest"><institution>NYU</institution><docId>nyu_aleph000062856</docId><userId>N12162279</userId></getTagsRequest>]]></request></getTags></env:Body></env:Envelope>
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
      Soapaction: 
      - "\"getTags\""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=utf-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><getTagsResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><getTagsReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;TagsAndReviews xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;
          &lt;Tags&gt;
            &lt;MyTags&gt;
              &lt;Tag&gt;
                &lt;value&gt;tag2&lt;/value&gt;
                &lt;docId&gt;nyu_aleph000062856&lt;/docId&gt;
                &lt;userId/&gt;
                &lt;status/&gt;
              &lt;/Tag&gt;
              &lt;Tag&gt;
                &lt;v[...]
