--- 
http_interactions: 
- request: 
    method: post
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags
    body: 
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags"><env:Body><removeUserTags><request><![CDATA[<removeUserTagsRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><userId>N12162279</userId></removeUserTagsRequest>]]></request></removeUserTags></env:Body></env:Envelope>
    headers: 
      Soapaction: 
      - "\"removeUserTags\""
      Content-Type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=utf-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><removeUserTagsResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><removeUserTagsReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;TagsAndReviews xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;
          &lt;ERROR CODE=&quot;0&quot; MESSAGE=&quot;Remove user tags action completed successfully&quot;/&gt;
        &lt;/TagsAndReviews&gt;</removeUserTagsReturn></removeUserTagsResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 09 Jan 2013 21:24:30 GMT
recorded_with: VCR 2.3.0
