---
http_interactions:
- request:
    method: get
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher\"
        xmlns:intf=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL
        created by Apache Axis version: 1.2.1\nBuilt on Jun 14, 2005 (09:15:57 EDT)-->\n
        <wsdl:types>\n  <schema targetNamespace=\"http://xml.apache.org/xml-soap\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\"/>\n
        \  <complexType name=\"mapItem\">\n    <sequence>\n     <element name=\"key\"
        nillable=\"true\" type=\"xsd:anyType\"/>\n     <element name=\"value\" nillable=\"true\"
        type=\"xsd:anyType\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"Map\">\n    <sequence>\n     <element maxOccurs=\"unbounded\" minOccurs=\"0\"
        name=\"item\" type=\"apachesoap:mapItem\"/>\n    </sequence>\n   </complexType>\n
        \ </schema>\n </wsdl:types>\n\n   <wsdl:message name=\"getRecordResponse\">\n\n
        \     <wsdl:part name=\"getRecordReturn\" type=\"soapenc:string\"/>\n\n   </wsdl:message>\n\n
        \  <wsdl:message name=\"getRecordResponse1\">\n\n      <wsdl:part name=\"getRecordReturn\"
        type=\"soapenc:string\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"countFacetsRequest\">\n\n
        \     <wsdl:part name=\"searchRequestStr\" type=\"soapenc:string\"/>\n\n      <wsdl:part
        name=\"facets\" type=\"apachesoap:Map\"/>\n\n      <wsdl:part name=\"searchToken\"
        type=\"soapenc:stri[...]
