--- 
http_interactions: 
  - request: 
      method: get
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews?wsdl
      body: 
        string: ""
      headers: 
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |
          <?xml version="1.0" encoding="UTF-8"?>
          <wsdl:definitions targetNamespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews" xmlns:intf="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <!--WSDL created by Apache Axis version: 1.2.1
          Built on Jun 14, 2005 (09:15:57 EDT)-->
           <wsdl:types>
            <schema targetNamespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews" xmlns="http://www.w3.org/2001/XMLSchema">
             <import namespace="http://xml.apache.org/xml-soap"/>
             <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
             <complexType name="ArrayOf_xsd_anyType">
              <complexContent>
               <restriction base="soapenc:Array">
                <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
               </restriction>
              </complexContent>
             </complexType>
            </schema>
            <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
             <import namespace="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews"/>
             <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
             <complexType name="Vector">
              <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
              </sequence>
             </complexType>
            </schema>
           </wsdl:types>
          
             <wsdl:message name="getReviewsByRatingResponse">
          
                <wsdl:part name="getReviewsByRatingReturn" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="getReviewsForRecordResponse">
          
                <wsdl:part name="getReviewsForRecordReturn" type="soapenc:string"/>
          
             </wsdl:message>
          
             <wsdl:message name="addReviewRequest">
          
                <wsdl:part name="addReviewRequest" type="soapenc:string"/>
          
             </wsdl:message>
      [...]
  - request: 
      method: post
      uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews" xmlns:ins1="http://xml.apache.org/xml-soap"><env:Body><impl:removeReview><request><![CDATA[<removeReviewRequest xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>YAML_INSTITUTION</institution></removeReviewRequest>]]></request></impl:removeReview></env:Body></env:Envelope>
      headers: 
        Soapaction: 
          - "\"removeReview\""
        Content-Type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - text/xml;charset=utf-8
      body: 
        string: |-
          <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:removeReviewResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews"><removeReviewReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;TagsAndReviews xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;
            &lt;ERROR CODE=&quot;-2&quot; MESSAGE=&quot;One of the parameters is missing&quot;/&gt;
          &lt;/TagsAndReviews&gt;</removeReviewReturn></ns1:removeReviewResponse></soapenv:Body></soapenv:Envelope>
    recorded_at: Tue, 27 Nov 2012 17:56:35 GMT
recorded_with: VCR 2.3.0
