---
http_interactions:
- request:
    method: get
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf\"
        xmlns:intf=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL
        created by Apache Axis version: 1.2.1\nBuilt on Jun 14, 2005 (09:15:57 EDT)-->\n\n
        \  <wsdl:message name=\"addFolderToEshelfRequest\">\n\n      <wsdl:part name=\"addFolderToEshelfRequest\"
        type=\"soapenc:string\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"removeFolderFromEshelfRequest\">\n\n
        \     <wsdl:part name=\"removeFolderEshelfRequest\" type=\"soapenc:string\"/>\n\n
        \  </wsdl:message>\n\n   <wsdl:message name=\"invokeActionToFolderEshelfRequest\">\n\n
        \     <wsdl:part name=\"actionToEshelfRequest\" type=\"soapenc:string\"/>\n\n
        \  </wsdl:message>\n\n   <wsdl:message name=\"getEshelfResponse\">\[...]
- request:
    method: post
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:getEshelf><request><![CDATA[<getEshelfRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><userId>N12162279</userId></getEshelfRequest>]]></request></impl:getEshelf></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"getEshelf"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getEshelfResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/eshelf\"><getEshelfReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot; xmlns:prim=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;\n
        \ &lt;JAGROOT&gt;\n    &lt;RESULT&gt;\n      &lt;DOCSET TOTALHITS=&quot;79&quot;&gt;\n
        \       &lt;DOC LOCAL=&quot;true&quot;&gt;\n          &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;\n
 [...]
