---
http_interactions:
- request:
    method: get
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews\"
        xmlns:intf=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL
        created by Apache Axis version: 1.2.1\nBuilt on Jun 14, 2005 (09:15:57 EDT)-->\n
        <wsdl:types>\n  <schema targetNamespace=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <import namespace=\"http://xml.apache.org/xml-soap\"/>\n
        \  <import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\"/>\n   <complexType
        name=\"ArrayOf_xsd_anyType\">\n    <complexContent>\n     <restriction base=\"soapenc:Array\">\n
        \     <attribute ref=\"soapenc:arrayType\" wsdl:arrayType=\"xsd:anyType[]\"/>\n
        \    </restriction>\n    </complexContent>\n   </complexType>\n  </schema>\n
        \ <schema targetNamespace=\"http://xml.apache.org/xml-soap\" xmlns=\"http://www.w3.org/2001/XMLSchema\">\n
        \  <import namespace=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews\"/>\n
        \  <import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\"/>\n   <complexType
        name=\"Vector\">\n    <sequence>\n     <element maxOccurs=\"unbounded\" minOccurs=\"0\"
        name=\"item\" type=\"xsd:anyType\"/>\n    </sequence>\n   </complexType>\n
        \ </schema>\n </wsdl:types>\n\n   <wsdl:message name=\"getReviewsByRatingResponse\">\n\n
        \     <wsdl:part name=\"getReviewsByRatingReturn\" type=\"soapenc:string\"/>\n\n
        \  </wsdl:message>\n\n   <wsdl:message name=\"getReviewsForRecordResponse\">\n\n
        \     <wsdl:part name=\"getReviewsForRecordReturn\" type=\"soapenc:string\"/>\n\n
        \  </wsdl:message>\n\n   <wsdl:message name=\"addReviewRequest\">\n\n      <wsdl:part
        name=\"addReviewRequest\" type=\"soapenc:string\"/>\n\n   </wsdl:message>\n\n
        \  <wsdl:message name=\"getReviewsRequest\">\n\n      <wsdl:part name[...]
- request:
    method: post
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews"
        xmlns:ins1="http://xml.apache.org/xml-soap"><env:Body><impl:getReviews><request><![CDATA[<getReviewsRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><docId>nyu_aleph000062856</docId><userId>N12162279</userId></getReviewsRequest>]]></request></impl:getReviews></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"getReviews"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getReviewsResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/reviews\"><getReviewsReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;TagsAndReviews
        xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;\n
        \ &lt;Reviews&gt;\n    &lt;Review&gt;\n      &lt;value&gt;Test review&lt;/value&gt;\n
        \     &lt;docId&gt;nyu_aleph000062856&lt;/docId&gt;\n      &lt;userId/&gt;\n
        \     &lt;status&gt;2&lt;/status&gt;\n      &lt;rating&gt;1&lt;/rating&gt;\n
        \     &lt;userDisplayName/&gt;\n      &lt;allowUserName&gt;false&lt;/allowUserName&gt;\n
        \   &lt;/Review&gt;\n  &lt;/Reviews&gt;\n&lt;/TagsAndReviews&gt;</getReviewsReturn></ns1:getReviewsResponse></soapenv:Body></soapenv:Envelope>"
  recorded_at: Mon, 19 Nov 2012 22:59:43 GMT
recorded_with: VCR 2.3.0
