---
http_interactions:
- request:
    method: get
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags\"
        xmlns:intf=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL
        created by Apache Axis version: 1.2.1\nBuilt on Jun 14, 2005 (09:15:57 EDT)-->\n\n
        \  <wsdl:message name=\"getAllMyTagsRequest\">\n\n      <wsdl:part name=\"getAllMyTagsRequest\"
        type=\"soapenc:string\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"getTagsRequest1\">\n\n
        \     <wsdl:part name=\"getTagsRequest\" type=\"soapenc:string\"/>\n\n      <wsdl:part
        name=\"isXservice\" type=\"xsd:boolean\"/>\n\n   </wsdl:message>\n\n   <wsdl:message
        name=\"getAllMyTagsResponse\">\n\n      <wsdl:part name=\"getAllMyTagsReturn\"
        type=\"soapenc:string\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"removeT[...]
- request:
    method: post
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><impl:getTags><request><![CDATA[<getTagsRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><institution>NYU</institution><docId>nyu_aleph000062856</docId><userId>N12162279</userId></getTagsRequest>]]></request></impl:getTags></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"getTags"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getTagsResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/tags\"><getTagsReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;TagsAndReviews
        xmlns=&quot;http://com/exlibris/primo/xsd/tagsAndReview/config&quot;&gt;\n
        \ &lt;Tags&gt;\n    &lt;MyTags&gt;\n      &lt;Tag&gt;\n        &lt;value&gt;spies&lt;/value&gt;\n
        \       &lt;docId&gt;nyu_aleph000062856&lt;/docId&gt;\n        &lt;userId/&gt;\n
        \       &lt;status/&gt;\n      &lt;/Tag&gt;\n    &lt;/MyTags&gt;\n    &lt;EverybodyTags&gt;\n
        \     &lt;Tag&gt;\n        &lt;value&gt;spies&lt;/value&gt;\n        &lt;docId&gt;nyu_aleph000062856&lt;/docId&gt;\n
        \       &lt;userId/&gt;\n        &lt;status/&gt;\n      &lt;/Tag&gt;\n    &lt;/EverybodyTags&gt;\n
        \ &lt;/Tags&gt;\n&lt;/TagsAndReviews&gt;</getTagsReturn></ns1:getTagsResponse></soapenv:Body></soapenv:Envelope>"
  recorded_at: Fri, 16 Nov 2012 21:56:44 GMT
recorded_with: VCR 2.3.0
